layout {
    tab name="editor" focus=true split_direction="horizontal" {
        pane split_direction="vertical" {
            pane name="editor" focus=true size="70%" {
                edit "src/main.rs"
            }

            pane split_direction="horizontal" {
                pane name="COMPILE AND RELOAD" {
                    command "bash"
                    args "-c" "cargo build --features tracing && zellij action start-or-reload-plugin zjpane"
                }

                pane {
                    command "bash"
                    args "-c" "tail -f .zjpane.log"
                }
            }
        }
    }

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }
}

plugins {
    zjpane location="file:target/wasm32-wasi/debug/zjpane.wasm"
}

keybinds {
    shared_except "locked" {
        bind "Ctrl p" {
            LaunchOrFocusPlugin "zjpane" {
                floating true; 
                command_echo_command "bash -c 'WHO=World echo \"Hello $WHO\"'"
                command_yazi_command "bash -c '~/.config/yazi/dev/yazi'"
            }
        }
    }
}
